.App {
  font-family: sans-serif;
  text-align: center;
}

.game-speed-holder {
  .btn-holder {
    display: flex;
    justify-content: space-between;
  }
}

.game-holder{
  .data-section{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 20px;
    &.looser{
      background-color: red;
    }
    &.winner{
      background-color: green;
    }
  }
  .game-frame{
    background-color: wheat;
    height: 400px;
    border: 2px solid;
    margin: 10px;
    span{
      font-size: 20px;
    }
    .boxes-holder{
      display: flex;
      justify-content: center;
      align-items: center;
      .boxes{
        height: 80px;
        width: 80px;
        border: 3px solid green;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.middle{
          border: 3px solid red;
        border-radius: 40px;
        }

        .virus{
          height: 30px;
          width: 30px;
          background-color: red;
          border-radius: 20px 80px 1px 10px ;
        }

      }
    }
    
  }
  .catch{
    padding: 30px 0;
    font-size: 30px;
  }
}
